## TEMPLATE FOR SMALL SCALE DHCP/DNS SERVICES USING DNSMASQ ##

pid-file=/var/run/avocado-dnsmasq.pid
addn-hosts=/etc/avocado-hosts.conf
expand-hosts

# only attach to the required interfaces, not to *:53
bind-interfaces
except-interface=lo

# extra logging
log-queries
log-dhcp
# we keep this disabled to log to the default syslog
#log-facility=/var/log/dnsmasq.log

# good netizenship
domain-needed
bogus-priv
