language: python
python:
    - "2.7"
    - "2.6"

sudo: false

install:
    - pip install Sphinx
    - pip install -r requirements-travis.txt
    - if [ $TRAVIS_PYTHON_VERSION == '2.6' ]; then pip install -r requirements-travis-python26.txt; fi
    - git clone https://github.com/avocado-framework/avocado.git avocado-libs
    - cd avocado-libs
    - python setup.py install
    - cd ..
    - rm -rf avocado-libs

script:
    - make check
