include LICENSE
include README.rst
include VERSION
include virttest/passfd.c
recursive-include avocado_vt/conf.d *
recursive-include virttest/test-providers.d *
recursive-include virttest/backends *
recursive-include virttest/shared *
recursive-exclude virttest/shared/scripts/pmsocat *
