# Variants describing the various machines

variants:
    - @i440fx:
        only i386, x86_64
        machine_type = pc
        unattended_install..cdrom, unattended_install..extra_cdrom_ks:
            cd_format = ide
        enable_pvpanic = yes
        ioport_pvpanic = 0x505
    - q35:
        only i386, x86_64
        no ide
        machine_type = q35
        unattended_install..cdrom, unattended_install..extra_cdrom_ks:
            cd_format = ahci
        enable_pvpanic = yes
        ioport_pvpanic = 0x505
    - @pseries:
        only ppc64, ppc64le
        machine_type = pseries
        # Currently only supports standard VGA
        vga = std
        del rtc_drift
    - arm64-mmio:
        only aarch64
        auto_cpu_model = "no"
        cpu_model = host
        machine_type = arm64-mmio:virt
        # No support for VGA yet
        vga = none
        inactivity_watcher = none
        take_regular_screendumps = no
        # Currently no USB support
        usbs =
        usb_devices =
    - arm64-pci:
        only aarch64
        auto_cpu_model = "no"
        cpu_model = host
        machine_type = arm64-pci:virt
        # No support for VGA yet
        vga = none
        inactivity_watcher = none
        take_regular_screendumps = no
        # Currently no USB support
        usbs =
        usb_devices =
    - s390-virtio:
        only s390x
        auto_cpu_model = "no"
        cpu_model = host
        machine_type = s390-ccw-virtio
        # No support for VGA yet
        vga = none
        inactivity_watcher = none
        take_regular_screendumps = no
        # Currently no USB support
        usbs =
        usb_devices =
