language: python
python:
    - "2.7"
    - "2.6"

sudo: false

install:
    - pip install -r requirements-travis.txt
    - if [ $TRAVIS_PYTHON_VERSION == '2.6' ]; then pip install -r requirements-travis-python26.txt; fi

script:
    - make check
