- 6:
    host_kernel_ver_str += ".6"
    requires_kernel = [">= 2.6.32-432", "<  2.6.32-505"]
    machine_type = "rhel6.6.0"
    set_link:
        operstate_always_up = no
    cpuinfo_query.qmachine_type:
        cpu_info = "pc,rhel.6.6.0,rhel6.5.0,rhel6.4.0,rhel6.3.0,rhel6.2.0,rhel6.1.0,rhel6.0.0,rhel5.5.0,rhel5.4.4,rhel5.4.0"
    Windows:
        #hv_relaxed option is supported since RHEL.6.4
        cpu_model_flags += ",hv_relaxed"
